{{#section 'style'}}
	#result{
	height:100px;
	overflow:auto;
	}
	div{
	max-width:50%}
	b{
	float:right	}
{{/section}}
<div>

<p id="result"></p>
<form id="form">


	
</form>
</div>
{{#section 'script'}}
<script>

//verifica se o destino está pronto
	{{#if message}}
		if({{message}} == 1){
		procuraParceiro()
		}else{
					document.getElementById('result').innerHTML = 'Você já está falando com alguém!'
					document.getElementById('form').innerHTML = '<label>Mensagem:</label><input name="texto" type="text"><input type="submit" value="enviar">'
					//procuraMensagens() 
		}  
	{{/if}}


//mantém o user online
 function online(){
	const headers = { 'Content-Type': 'application/json'}
fetch('/api/online', {method: 'post', headers}).then(resp => {
			if(resp.status <200 || resp.status >= 300){
				console.log('falha na requisição...')
				throw new Error(`Erro na requisição com o status: ${resp.status}`)
				result.innerHTML = 'DEU ALGO ERRADO: '+err
				online()
				}
			return resp.json()
	}).then(json => {
			console.log('ONLINE')
			
			if(json.envio == 1){
						console.log('Algo aconteceu...')
						document.getElementById('result').innerHTML = 'Algo aconteceu...'
					document.getElementById('form').innerHTML = '<a href="/chat">Iniciar de novo</a>'
					}else{
					
		online()}
	
	}).catch(err => {
	result.innerHTML = 'DEU ALGO ERRADO: '+err
	online()
	})
}
online()


//Procura algum parceiro disponivel
  function procuraParceiro() {
	result.innerHTML = 'Procurando participante'
	const headers = { 'Content-Type': 'application/json'}
	fetch('/loading', {method: 'post', headers}).then(
		resp => {
					if(resp.status <200 || resp.status >= 300){
					console.log('falha na requisição...')
					throw new Error(`Erro na requisição com o status: ${resp.status}`)
					procuraParceiro()
					}
					return resp.json()
					
					 
		}).then(json => {
					if(json.m == true){
					console.log('procura parceiro!')
					document.getElementById('result').innerHTML = 'Você já está falando com alguém!'
					document.getElementById('form').innerHTML = '<label>Mensagem:</label><input name="texto" type="text"><input type="submit" value="enviar">'
					procuraMensagens()
					
					
					}else{
					procuraParceiro()
					}
						})
		.catch(err => { 
		procuraParceiro()
						console.log(err)
	
	
	
	})	}

//enviar mensagem
document.getElementById('form').addEventListener('submit', (evt) => {
		evt.preventDefault()
		const form = evt.target
		const body = JSON.stringify({
		texto: form.elements.texto.value,
		dest: form.elements.dest.value,
		})
		const headers = { 'Content-Type': 'application/json'}
		const result = document.getElementById('result')
		
		
		fetch('/api/send', {method: 'post', body, headers}).then(
		resp => {
					if(resp.status <200 || resp.status >= 300)
					console.log('requisição de envio')
					throw new Error(`Erro na requisição com o status: ${resp.status}`)
					return resp.json()
					
		}).then(json => {
						console.log('requisição de envio')
						result.innerHTML += json.resp+'<br>'
						})
		.catch(err => {
		console.log('requisição de envio')
						result.innerHTML = 'DEU ALGO ERRADO: '+err
						console.log('erro: '+err)
	})
	
	})

//procura mensagens
/*
	function procuraMensagens() {
	const headers = { 'Content-Type': 'application/json'}
	
	fetch('/api/resp', {method: 'post', headers}).then(
		resp => {
					if(resp.status <200 || resp.status >= 300)
					throw new Error(`Erro na requisição com o status: ${resp.status}`) 
					console.log('FALHA NA REQUISIÇÂO!')
					return resp.json()
					
		}).then(json => {
		console.log('procurando mensagens!')
	if(json.envio == 1){
						console.log('PARCEIRO OFFLINE')
						document.getElementById('result').innerHTML = 'Parceiro offline'
					document.getElementById('form').innerHTML = '<a href="/chat">Iniciar de novo</a>'
					}else{
					procuraMensagens()}
					
						
					})
		.catch(err => { 
						window.alert=err
						console.log('REQUISIÇÂO NEGADA')
	})
	
	
	}
	*/
	
	

	



	
	</script>
	
	{{/section}}