{{#section 'style'}}
	#result{
	height:100px;
	overflow:auto;
	}
	div{
	max-width:50%}
	b{
	float:right	}
{{/section}}
<div>
<p>Aqui você pode conversar!{{id}}</p>
<p id="result"></p>
<form id="form">


	
</form>
</div>
{{#section 'script'}}
<script>
	{{#if message}}
		if({{message}} == 1){
		procuraParceiro()
		}else{
					document.getElementById('form').innerHTML = '<label>Mensagem:</label><input name="texto" type="text"><input type="submit" value="enviar">'
					procuraMensagens() 
		}  
		
		
	{{/if}}

document.getElementById('form').addEventListener('submit', (evt) => {
		evt.preventDefault()
		const form = evt.target
		const body = JSON.stringify({
		texto: form.elements.texto.value,
		dest: form.elements.dest.value,
		})
		const headers = { 'Content-Type': 'application/json'}
		const result = document.getElementById('result')
		
		
		fetch('/api/send', {method: 'post', body, headers}).then(
		
		resp => {
					if(resp.status <200 || resp.status >= 300)
					console.log('requisição de envio')
					throw new Error(`Erro na requisição com o status: ${resp.status}`)
					return resp.json()
					
		}).then(json => {
						console.log('requisição de envio')
						result.innerHTML += json.resp+'<br>'
						})
		.catch(err => {
		console.log('requisição de envio')
						result.innerHTML = 'DEU ALGO ERRADO: '+err
						console.log('erro: '+err)
	})
	
	})
	
	
	function procuraMensagens() {
	const headers = { 'Content-Type': 'application/json'}
	
	fetch('/api/resp', {method: 'post', headers}).then(
		resp => {
					if(resp.status <200 || resp.status >= 300)
					throw new Error(`Erro na requisição com o status: ${resp.status}`) 
					console.log('FALHA NA REQUISIÇÂO!')
					return resp.json()
					
		}).then(json => {
		console.log('procurando mensagens!')
					 	if(json.envio == 1){
						console.log('PARCEIRO OFFLINE')
						document.getElementById('result').innerHTML = 'Parceiro offline'
					document.getElementById('form').innerHTML = ""

					}else{
					procuraMensagens()
					}
						
					})
		.catch(err => { 
						window.alert=err
						console.log('REQUISIÇÂO NEGADA')
	})
	
	
	}
	
	
	function procuraParceiro() {
	result.innerHTML = 'Procurando participante'
	
	fetch('/loading', {method: 'post'}).then(
		resp => {
					if(resp.status <200 || resp.status >= 300)
					throw new Error(`Erro na requisição com o status: ${resp.status}`)
					return resp.json()
					 
		}).then(json => {
					if(json.m == true){
					console.log('procura parceiro!')
					document.getElementById('form').innerHTML = '<label>Mensagem:</label><input name="texto" type="text"><input type="submit" value="enviar">'
					procuraMensagens()
					
					
					}else{
					procuraParceiro()
					}
						})
		.catch(err => { 
						console.log(err)
	
	
	
	})	}
	
	window.addEventListener('beforeunload',  (evt) => {
   fetch('/api/bye', {method: 'post'})
});

function novaConversa(){
	fetch('/api/bye', {method: 'post'})
}
	
	</script>
	
	{{/section}}