{{#section 'style'}}
	

	#containerChat{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* height: 100%; */
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    
	
	}

	#result{
	    background-color: rgb(255 255 255 / 63%);
    height: 80%;
    overflow: auto;
    position: relative;
    display: flex;
    bottom: 0;
    flex-direction: column;
    padding: 5px;
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px #00000017;
    /* margin: 0px 0px 10px 0px; */
	}
	#form{
	    /* width: 100%; */
    width: 70%;
    max-width: 490px;
    /* align-self: auto; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    /* gap: 10px; */
    padding: 10px;
    background-color: rgb(225 225 225);
    border-radius: 0px 0px 10px 10px;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0px;
	}
	
	.y, .m, .n{
	
	box-shadow: 0px 5px 10px 1px #00000014;
    font-size: 15px;
    border-radius: 15px;
    max-width: 80%;
    word-wrap: break-word;
    padding: 15px;
    margin: 5px;
    /* min-width: 50px; */
	}
	
		.y{
		border-top-left-radius: 0px;
	align-self: start;
	  background-color:rgb(255 255 255 / 99%);
}
	
	.m{
	border-top-right-radius: 0px;
	background-color: rgb(181 249 255 / 60%);
	align-self: end;
	


	}
	
	.n{

	background-color: rgb(243 243 243 / 99%);
	align-self: center;
	}
	
	@media  (max-width: 900px) {
  #container {
   
  }
}
	

{{/section}}

<div id="containerChat">
<div id="contato">
<h1 id="nome"></h1>
</div>
<div id="result">


</div>

<form id="form">

</form>
<div id="end">

</div>



</div>
{{#section 'script'}}
<script>
	window.addEventListener('beforeunload',  () => {fetch('/api/bye', {method: 'post'}).then(() => {
		
	})
	
	
	});


	

//verifica se o destino está pronto
	{{#if message}}
		if({{message}} == 1){
					document.getElementById('result').innerHTML += '<p class="n">Você já está falando com alguém! Diga oi!</p>'
					document.getElementById('form').innerHTML = '<div><input id="texto" name="texto" type="text"><input type="submit" value="enviar"></div><button onclick="end()">Encerrar conversa</button><button onclick="salvar()">Salvar contato</button>'
					document.getElementById('nome').innerHTML ='{{nome}}'
					
					procuraMensagens() //mensagens ativo
		}else{
					procuraParceiro() //parceiro ativo
		}  
	{{/if}}
	
var id ={{id}}
//Procura algum parceiro disponivel
  function procuraParceiro() {
	result.innerHTML = '<p class="n">Procurando participante...</p>'
	const headers = { 'Content-Type': 'application/json'}
	fetch('/loading', {method: 'post', headers}).then(
		resp => {
				 
					return resp.json()
					
					  
		}).then(json => {
		
					if(json.m == true){
					console.log(json.m)
					document.getElementById('result').innerHTML = ''
					document.getElementById('result').innerHTML += '<p class="n">Você já está falando com alguém! Diga oi!</p>'
					document.getElementById('form').innerHTML = '<div><input id="texto" name="texto" type="text"><input type="submit" value="enviar"></div> <button  onclick="end()">Encerrar conversa</button><button onclick="salvar()">Salvar contato</button>'
					document.getElementById('nome').innerHTML = json.nome
					id = json.id;
					procuraMensagens()
					
					
					
					}else{
					console.log(json.m)
					if(json.m == 'erro') {
					result.innerHTML = '<p class="n">O chat foi finalizado.</p><button onclick="novoChat()">Novo chat</button>'
					document.getElementById('form').innerHTML = '<div><input id="texto" name="texto" type="text"><input type="submit" value="enviar"></div> <button  onclick="end()">Encerrar conversa</button><button onclick="salvar()">Salvar contato</button>'
					
					}else{
					console.log(json.m)
					procuraParceiro()
					}}
						})
		.catch(err => { 

						console.log(err)
	
	
	
	})	}



 

//procura mensagens
	function procuraMensagens() {
	const headers = { 'Content-Type': 'application/json'}
	
	fetch('/api/resp', {method: 'post', headers}).then(
		resp => {
					return resp.json()
						console.log('procurando mensagens!')
		}).then(json => {
		
		if(json.meOffline == true){
		result.innerHTML = '<p class="n">O chat foi finalizado.</p><button onclick="novoChat()">Novo chat</button>'
			end('abandono')
			
		}else{
		
		
		if(json.offline == true){
			result.innerHTML = '<p class="n">O chat foi finalizado.</p><button onclick="novoChat()">Novo chat</button>'
			end('abandono')
		}else{
	
			if(json.mensagem != undefined && json.mensagem != ''){
					result.innerHTML += '<p class="y">'+json.mensagem+'</p>'
					result.scrollTop = result.scrollHeight
						console.log('procurando mensagens!')	}
						
				procuraMensagens()
				
			}}})
				
					
					
		.catch(err => { 
						window.alert=err
						console.log('REQUISIÇÂO NEGADA')
							console.log('procurando mensagens!')
	})
	
	
	}



//enviar mensagem
var n = 0
document.getElementById('form').addEventListener('submit', (evt) => {
		evt.preventDefault()
		const form = evt.target
		const body = JSON.stringify({
		texto: form.elements.texto.value,
		})
		const headers = { 'Content-Type': 'application/json'}
		const result = document.getElementById('result')
		const myResult = document.getElementById('result')
		
		
		fetch('/api/send', {method: 'post', body, headers}).then(resp => {
		
		return resp.json()
		}).then(json => {
		if(document.getElementById('texto').value != ''){
		myResult.innerHTML += '<p class="m">'+document.getElementById('texto').value+'</p>'
						document.getElementById('texto').value = ''
							result.scrollTop = result.scrollHeight
						n++ 
						}
						}) 
	
	} 
	)


	

	function end(a){

	
			fetch('/api/bye', {method: 'post'}).then(() => {
			//result.innerHTML += '<button>Novo chat</button>'
			
		})
		
	}



	function novoChat() {
	const headers = { 'Content-Type': 'application/json'}
	fetch('/api/chat2', {method: 'post', headers}).then(resp => {
	console.log(resp.status)
		return resp.json()
		
	}).then(json => {
	
	if(json.message == 1){
					document.getElementById('result').innerHTML = '<p class="n">Você já está falando com alguém! Diga oi!</p>'
					document.getElementById('nome').innerHTML = json.nome
			
					procuraMensagens() //mensagens ativo
		}else{
					procuraParceiro() //parceiro ativo
		}  
	

	}).catch((err) => {
		console.log(err)
	})
	
	}


	
	var data = new Date(2025,0,01);
// Converte a data para GMT
// Wed, 01 Jan 2020 02:00:00 GMT
data = data.toGMTString();

function salvar(){
	


	var contatos = JSON.parse(valor_cookie('contatos'))
	console.log(contatos)
	var nomes = JSON.parse(valor_cookie('nomes'))
	
if(contatos.indexOf(id)/*()*/ == -1){

	contatos.push(id)
	if(nomes.indexOf(document.getElementById('nome').innerText) == -1 && document.getElementById('nome').innerText != ''){
		nomes.push(document.getElementById('nome').innerText)
	}else{
		var novoNome = window.prompt('Como você deseja chamar esse contato?')
		nomes.push(novoNome) 
	}

	contatos = JSON.stringify(contatos)
	nomes = JSON.stringify(nomes)
	
	document.cookie = 'contatos='+contatos+'; expires=' + data + ';';
	document.cookie = 'nomes='+nomes+'; expires=' + data + ';';
	window.alert('Contato salvo com sucesso!!')
	

}else{
/*document.getElementById('flash2').style.display = 'none'
	document.getElementById('flash2').style.display = 'inherit'
	document.getElementById('flash2').innerHTML = '<p>Você já salvou esse contato antes!'*/
	window.alert('Você já salvou esse contato antes!')
	
}


}

function valor_cookie(nome_cookie) {
    // Adiciona o sinal de = na frente do nome do cookie
    var cname = nome_cookie + '=';
    
    // Obtém todos os cookies do documento
    var cookies = document.cookie;
    
    // Verifica se seu cookie existe
    if (cookies.indexOf(cname) == -1) {
        return false;
    }
    
    // Remove a parte que não interessa dos cookies
    cookies = cookies.substr(cookies.indexOf(cname), cookies.length);

    // Obtém o valor do cookie até o ;
    if (cookies.indexOf(';') != -1) {
        cookies = cookies.substr(0, cookies.indexOf(';'));
    }
    
    // Remove o nome do cookie e o sinal de =
    cookies = cookies.split('=')[1];
    
    // Retorna apenas o valor do cookie
    return decodeURI(cookies);
}


	if(valor_cookie('contatos') == false){
	
	document.cookie = 'contatos=[]; expires=' + data + ';';
	
	}





	
	</script>
	
	{{/section}}