{{#section 'style'}}
	h1.title{
	font-size: 20px;
	}
{{/section}}

<form id="form">
	<h1 class="title">O que você faz em seu tempo livre?</h1>
	<input type="radio" id="html" name="fav_language" value="0">
  <label for="html">Jogo games</label><br>
  <input type="radio" id="css" name="fav_language" value="1">
  <label for="css">Assisto séries, ou animes</label><br>
    <input type="radio" id="css" name="fav_language" value="2">
  <label for="css">Leio um bom livro</label><br>
  <input type="radio" id="javascript" name="fav_language" value="3">
  <label for="javascript">Pratico esportes</label><br>
  <input type="radio" id="javascript" name="fav_language" value="4">
  <label for="javascript">Vou é dar um rolê com os meus amigos!</label>
  
  <h1 class="title">Você se considera:</h1>
  <input type="radio" id="html" name="fav_language" value="0">
  <label for="html">Uma pessoa perfeccionista</label><br>
  <input type="radio" id="html" name="fav_language" value="1">
  <label for="html">Muito rígido consigo mesmo</label><br>
    <input type="radio" id="html" name="fav_language" value="2">
  <label for="html">Alguém acima da média</label><br>
      <input type="radio" id="html" name="fav_language" value="3">
  <label for="html">Alguém abaixo da média</label><br>
  
    <h1 class="title">Você acha que se encaixa em algum desses grupos?</h1>
	<input type="radio" id="html" name="fav_language" value="0">
  <label for="html">Gamers</label><br>
  <input type="radio" id="html" name="fav_language" value="1">
  <label for="html">Nerds</label><br>
  <input type="radio" id="html" name="fav_language" value="2">
  <label for="html">E-girls</label><br>
    <input type="radio" id="html" name="fav_language" value="3">
  <label for="html">Marombas de academia</label><br>
      <input type="radio" id="html" name="fav_language" value="4">
  <label for="html">Skatistas de roupas folgadas</label><br>
  
  <input type="submit">
  
  
</form>

{{#section 'script'}}
<script>
	document.getElementById('form').addEventListener('submit', (evt) => {
		evt.preventDefault()
		
		var cod = ''
		var choices = document.querySelectorAll('input:checked');
		
		choices.map((i) => {
			cod.innerText += i
		})
</script>
{{/section}}