{{#section 'style'}}
<style>
    h1#form{
        font-size: 14px;
    margin-bottom: 0;

    
}
    #salvar{
        margin: 10px;
    }
</style>
{{/section}}

<h1 id= "form" for="texto">Nome:</h1>
<input id="nome" name="nome" type="text" maxlength="10"><br>

<h1 id= "form" for="texto">Sexo:</h1>
<div>
<input id = "mascu" type="radio" name="sexo" value= "0">
<label for="mascu">Masculino</label>
<input id = "fem" type="radio" name="sexo" value= "1">
<label for="mascu">Feminino</label>
<input id = "nbin" type="radio" name="sexo" value= "2">
<label for="nbin">Não binário</label>
</div>

<div id = "salvar"><button onclick="salvar()">Salvar</button><span id="result" style="color: green;"></span></div>




{{#section 'script'}}
<script>
// Cria uma nova data no futuro 01/01/2020
var data = new Date(2025,0,01);
// Converte a data para GMT
// Wed, 01 Jan 2020 02:00:00 GMT
data = data.toGMTString();

document.getElementById('nome').value = valor_cookie('myName')
document.querySelector('input[value="'+valor_cookie('sex')+'"]').checked = true;

function salvar(){
// Cria o cookie
	document.cookie = 'myName='+document.getElementById('nome').value+'; expires=' + data + ';';
    document.cookie = 'sex='+document.querySelector('input[name = "sexo"]:checked').value+'; expires=' + data + ';';
	document.getElementById('result').innerText = ' Salvo!'
	setTimeout(() => {document.getElementById('result').innerText = ""}, 1000)
}






function valor_cookie(nome_cookie) {
    // Adiciona o sinal de = na frente do nome do cookie
    var cname = ' ' + nome_cookie + '=';
    
    // Obtém todos os cookies do documento
    var cookies = document.cookie;
    
    // Verifica se seu cookie existe
    if (cookies.indexOf(cname) == -1) {
        return '';
    }
    
    // Remove a parte que não interessa dos cookies
    cookies = cookies.substr(cookies.indexOf(cname), cookies.length);

    // Obtém o valor do cookie até o ;
    if (cookies.indexOf(';') != -1) {
        cookies = cookies.substr(0, cookies.indexOf(';'));
    }
    
    // Remove o nome do cookie e o sinal de =
    cookies = cookies.split('=')[1];
    
    // Retorna apenas o valor do cookie
    return decodeURI(cookies);
}
</script>
{{/section }}