<h1>Cookies</h1>
<p>Nós usamos cookies para:</p>
<ul>
    <li>Identificar cada úsuario de nosso site.</li>
    <li>Guardar informações como: nome, sexo, e se é um novo úsuario.</li>
</ul>
<p>Os cookies estão agendados para se auto apagarem um ano após a data de criação.</p>