
<div style="
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 5px;
">

{{#if newU}}
<p>{{'newU'}}</p>
{{/if}}

<button class="link"><a href="/chat">Conversa <strong>aleatória</strong></a></button>
<button class="link"><a href="/config">Configurações ⚙</a></button>
</div>
<ul id = "contatos">

<ul>


<script>


function valor_cookie(nome_cookie) {
    // Adiciona o sinal de = na frente do nome do cookie
    var cname =nome_cookie  + '=';
    
    // Obtém todos os cookies do documento
    var cookies = document.cookie;
    
    // Verifica se seu cookie existe
    if (cookies.indexOf(cname) == -1) {
        return false;
    }
    
    // Remove a parte que não interessa dos cookies
    cookies = cookies.substr(cookies.indexOf(cname), cookies.length);

    // Obtém o valor do cookie até o ;
    if (cookies.indexOf(';') != -1) {
        cookies = cookies.substr(0, cookies.indexOf(';'));
    }
    
    // Remove o nome do cookie e o sinal de =
    cookies = cookies.split('=')[1];
    
    // Retorna apenas o valor do cookie
    return decodeURI(cookies);
}

	var nomes = JSON.parse(valor_cookie('nomes'))
	var contatos = JSON.parse(valor_cookie('contatos'))

	if(valor_cookie('new') == false){

	
		var data = new Date(2025,0,01);
// Converte a data para GMT
// Wed, 01 Jan 2020 02:00:00 GMT
data = data.toGMTString();
	document.cookie = 'new= true; expires=' + data + ';';

	}
	

</script>




