

<button><a href="/chat">Conversa <strong>aleatória</strong><a></button><br>
<button><a href="/teste">Conversa com pessoa <strong>escolhida</strong><a></button><br>




<!--{{> widget}}

{{! comentario secreto}}

