

<button class="link"><a href="/chat">Conversa <strong>aleatória</strong></a></button>
<button class="link"><a href="/config">Configurações ⚙</a></button>

<ul id = "contatos">

<ul>


<script>
	window.addEventListener('beforeunload',  () => {fetch('/api/bye2', {method: 'post'}).then(() => {
		
	})
	
	
	});

function valor_cookie(nome_cookie) {
    // Adiciona o sinal de = na frente do nome do cookie
    var cname =nome_cookie  + '=';
    
    // Obtém todos os cookies do documento
    var cookies = document.cookie;
    
    // Verifica se seu cookie existe
    if (cookies.indexOf(cname) == -1) {
        return false;
    }
    
    // Remove a parte que não interessa dos cookies
    cookies = cookies.substr(cookies.indexOf(cname), cookies.length);

    // Obtém o valor do cookie até o ;
    if (cookies.indexOf(';') != -1) {
        cookies = cookies.substr(0, cookies.indexOf(';'));
    }
    
    // Remove o nome do cookie e o sinal de =
    cookies = cookies.split('=')[1];
    
    // Retorna apenas o valor do cookie
    return decodeURI(cookies);
}



	if(valor_cookie('nomes') == false){
		var data = new Date(2025,0,01);
// Converte a data para GMT
// Wed, 01 Jan 2020 02:00:00 GMT
data = data.toGMTString();
	document.cookie = 'contatos= []; expires=' + data + ';';
	document.cookie = 'nomes= []; expires=' + data + ';';
	document.cookie = 'myName= ; expires=' + data + ';';
	}
	
	var nomes = JSON.parse(valor_cookie('nomes'))
	var contatos = JSON.parse(valor_cookie('contatos'))
	var vetor = [{{cont}}]
	//var vetor2 = [{{msgs}}]
	console.log(vetor)
	var n = 0
	vetor.map((i) => {
		if(i == true){
			i = '<span style = "color:green;">online</span>'
		}else{
			i = ''
		}
	
		document.getElementById('contatos').innerHTML += '<li id="id'+contatos[n]+'"><a href="/chat/'+contatos[n]+'">'+nomes[n]+' '+i+'</a></li>'
		n++
	})
/*var lista = document.querySelectorAll('ul#contatos li')	
		vetor2.map((i) => {

			document.getElementById(i).innerHTML = '<span style = "color:red;">novas mensagens!</span>'
i2
	})*/
</script>

{{#if msgs}}
	<script>
		window.alert('{{msgs}}')
	var mensagens = [{{msgs}}]
		var contatos = document.querySelectorAll('ul#contatos li')
		for (var i = 0; mensagens.length > i; i++) {
		
		contatos.map(c){
					if(('id="id'+mensagens[i]+'"') == c.attributes.id){
				c.innerHTML = "novas mensagens!"
			}
		}
		
		
		
		

   
}
	</script>
{{/if}}


<!--{{> widget}}

{{! comentario secreto}}

