{{#section 'style'}}
<style>
    #text{
        display: none;
    }
	

    footer{
	    box-sizing: border-box;
	position: absolute;
    bottom: 0;
    transform: translateY(100%);
    background: #0e0e0e;
    width: 100%;
    left: 0;
	display:flex;
	flex-direction:column;

	padding: 10px;
	}
	
	#rotas, #redes{
	display: flex;
	    gap: 15px;
    justify-content: center;
    padding: 5px;

	
	}
    footer p{
        color: white;
    }
	
	footer a{
	color: white;
    text-decoration: underline;
	
	}
</style>
{{/section}}



<div style="
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 5px;
">

{{#if newU}}
{{{newU}}}
{{/if}}

<button class="link"><a href="/chat">Conversa <strong>aleatória</strong></a></button>
<button class="link"><a href="/config">Configurações ⚙</a></button>
</div>
<ul id = "contatos">

<ul>


<script>


function valor_cookie(nome_cookie) {
    // Adiciona o sinal de = na frente do nome do cookie
    var cname =nome_cookie  + '=';
    
    // Obtém todos os cookies do documento
    var cookies = document.cookie;
    
    // Verifica se seu cookie existe
    if (cookies.indexOf(cname) == -1) {
        return false;
    }
    
    // Remove a parte que não interessa dos cookies
    cookies = cookies.substr(cookies.indexOf(cname), cookies.length);

    // Obtém o valor do cookie até o ;
    if (cookies.indexOf(';') != -1) {
        cookies = cookies.substr(0, cookies.indexOf(';'));
    }
    
    // Remove o nome do cookie e o sinal de =
    cookies = cookies.split('=')[1];
    
    // Retorna apenas o valor do cookie
    return decodeURI(cookies);
}

	var nomes = JSON.parse(valor_cookie('nomes'))
	var contatos = JSON.parse(valor_cookie('contatos'))

	if(valor_cookie('novo') == false){

	
		var data = new Date(2025,0,01);
data = data.toGMTString();
	document.cookie = 'novo= true; expires=' + data + ';';
    

	}
	

</script>


	<footer>





<div id = "redes">
  <p>Caso fique intimidado, magoado, ou não se sinta bem em um chat, abandone a conversa, Pois nós não controlamos o que é dito nelas.</p>
</div>
<div id = "rotas">
    <a href="/chat">Chat</a>
    <a href="/config">Configurações</a>
	<a href="/sobre">Sobre</a>
    
</div>
</footer>

