<p>{{message}}</p>
{{#section 'script'}}
<script>
	
	
procuraParceiro()
	function procuraParceiro() {
	
	console.log('procura parceiro!')
	fetch('/loading', {method: 'post'}).then(
		resp => {
					if(resp.status <200 || resp.status >= 300)
					throw new Error(`Erro na requisição com o status: ${resp.status}`)
					return resp.json()
					
		}).then(json => {
						if(json.res == false){
						procuraParceiro()
						}else{
							window.location.reload()
						}
						})
		.catch(err => { 
						console.log(err)
	
	
	
	})	}
	</script>
	
	{{/section}}