<p>Site desenvolvido por Natã Ribeiro Barbosa</p>
 <h1>Créditos de imagens:</h1>

 <a href="https://www.flaticon.com/br/icones-gratis/masculino" title="masculino ícones">Masculino ícones criados por smashingstocks - Flaticon</a>
 <a href="https://www.flaticon.com/br/icones-gratis/sexo" title="sexo ícones">Sexo ícones criados por Freepik - Flaticon</a>
 <a href="https://www.flaticon.com/br/icones-gratis/nao-binario" title="não binário ícones">Não binário ícones criados por Freepik - Flaticon</a>
 <a href="https://www.flaticon.com/free-icons/back" title="back icons">Back icons created by Google - Flaticon</a>